{% extends "layout.html" %}
{% block css %}
  {% parent %}
{% endblock %}
{% block navlinks %}
  {% parent %}
  <li><a href="/faq"><span class="glyphicon glyphicon-pushpin"></span> FAQ</a></li>
  <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{user.data.name}}</a></li>
  <li><a href="/admin#/"><span class="glyphicon glyphicon-star"></span> Admin</a></li>
  <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
{% endblock %}
{% block content %}
  <div class="container">
    <div id="page-container"></div>
  </div>
{% endblock %}

{% block script %}
  {% parent %}
  <script type="text/javascript" src="/{{SCRIPT_URL_ADMIN}}"></script>
{% endblock %}

