{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Connexion <small>| {{sitename}}</small></h1>
    <div class="row">
      <div class="col-md-4">
        <form class="form" role="form" action="/login" method="post">
          <div class="form-group">
            <label for="input-cip">Cip</label>
            <input id="input-cip" type="text" placeholder="cip" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="input-password">Mot de passe</label>
            <input id="input-password" type="password" placeholder="mot de passe" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-success">Connexion</button>
        </form>
      </div>
      <div class="col-md-6">
        <p>Vous devez vous connecter pour accéder au {{sitename|lower}}!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul class="otherlogins">
          <li><a class="btn btn-default btn-lg" href="/auth/cas">
            <img src="/img/udes_logo.jpg" width="24px" alt="udes_logo" /> USherbrooke
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
