{% extends "layout.html" %}
{% block title %}Erreur {{status}} - {{sitename}}{% endblock %}
{% block navlinks %}
  <li><a href="/faq"><span class="glyphicon glyphicon-pushpin"></span> FAQ</a></li>
{% if ctx.passport && ctx.passport.isAuthenticated() %}
  <li><a href="/profile">{{ctx.passport.user.data.name}}</a></li>
  <li><a href="/logout">Déconnexion</a></li>
{% endif %}
{% endblock  %}
{% block content %}
<div class="jumbotron" id="error">
  <div class="container">
    <h1>Erreur {{status}}</h1>
    <p>Oups une erreur s'est produite, en accédant à {{request.host}}{{request.path}}!</p>
    <blockquote>{{error}}</blockquote>
    <a href="/">retour à l'accueil</a>
    {% if env == "development" %}
      <pre>
        <code>
  {{stack}}
        </code>
      </pre>
    {% endif %}
  </div>
</div>
{% endblock %}
